:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #df5e3a;  
  --primary-hover-color: #bc4422;  
  --text-secondary-color: ##5B5B5E;
  --white-color: #FFFFFF;
  --text-color: #000000;
  --separator-color: #D4D6E0;
}

body { 
  font-family: 'Open Sans', sans-serif;
}

